body{
    padding: 20px;
}
.jumbotron{
    background-color: #fff;
}

nav{
    margin-bottom: 20px;
}

.product-item{
    margin-bottom: 15px;
}

#cart-icon i {
    font-size: 24px;
    color: #000;
}

#cart-icon span {
    position: absolute;
    top: 5px;
    right: 5px;
}